html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: rgb(79, 154, 154);
  font-family: sans-serif;
  font-weight: 100;
}
.container {
    /* margin: auto; */
    /* width: 70%; */
    padding:2% 0% ;
}
 table {
    margin: auto;
  width: 80%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: center;
}
thead th {
  background-color: #276371;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

  button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }
  
  button  {
    background-color: transparent;
    color: rgb(253, 253, 253); 
    border: 2px solid #4caf95;
  }
  button:hover {
    background-color: #42c1c699;
    color: white;
  }

  span {
    color: rgb(76, 86, 95);
    margin: 0 10px;
  } 

  select {
    background-color: transparent;
    color: rgb(61, 59, 59); 
    border: 2px solid #4caf95;
    padding: 3px;
    border-radius: 5px;
  }

  option {
    background-color: #4caf95;
  }